.questionList{
  background: #e6f7ff;
  border:1px solid #e8e8e8;
  margin-bottom: 1.5rem;
  padding:1.3rem;
}

.question__spacing{
  background: #fff;
  margin-bottom: 0.5rem;
  padding:1.3rem;

}

.questionList__message{
  font-size: 1.3rem;
  font-style: italics;
  font-weight: 900;
  text-align: left;
  margin-left: 1.5rem;
}
