.radioButton{
  width: 100%;
  margin: 2em 0;
  padding: 0;
}

.radioButton__option{
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.radioButton__input{
  position:absolute;
}

.radioButton__label{
  display: block;
  margin: 0 -4px -1px 0; /* -1px margin removes double-thickness borders between items */
  padding: 1em .25em;
  border: 1px solid #ddd;
  font: 14px/1.5 sans-serif;
  text-align: center;
  width:283px;
  cursor: pointer;
  background:#444;
}

.radioButton__label:hover{
  background: #E71348;
  color: #fff;
text-decoration:underline;
font-weight:bold;
}

.radioButton__input:checked + .radioButton__label{
  background: #E71348;
color: #fff;
text-decoration:underline;
}

.radioButton__input:focus + .radioButton__label{
  background: #E71348;
color: #fff;
text-decoration:underline;
font-weight:bold;
}

.visually-hidden{
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body:hover .visually-hidden a, body:hover .visually-hidden input, body:hover .visually-hidden button { display: none !important; }

fieldset
{
	border:0;
}
